@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    padding: 0;
    margin-inline: 2rem;
    background: #3D434D;
}

* {
    color: #ffffff;
    text-align: center;
    font-size: var(--textBody);
    font-family: 'Montserrat', sans-serif;
}

:root {
    --colourPrimary: #ffffff;
    --colorSecondary: #ffffff;
    --colourTertiary: #ffffff;

    --title: 28px;
    --heading: 24px;
    --subHeading: 20px;
    --body: 16px;

    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}

#card1, #card2, #card3 {
    margin-inline: auto;
    transition: 1s;
}

#card1:hover, #card2:hover, #card3:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.card-container {
    width: min(30vw);
    height: min(70vh);
    border-radius: 7%;
    background: linear-gradient(#5a6579, #071B32);
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.city {
    font-size: 30px;
    font-weight: var(--medium);
}

.temperature {
    font-size: 100px;
    font-weight: var(--light);
}

.temperature span {
    font-size: 50px;
    vertical-align: top;
}

.description {
    font-size: 20px;
    font-weight: var(--medium);
    text-transform: capitalize;
}