@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    padding: 0;
    margin-inline: 2rem;
    background: #3D434D;
}

* {
    color: #ffffff;
    text-align: center;
    font-size: var(--textBody);
    font-family: 'Montserrat', sans-serif;
}

:root {
    --colourPrimary: #ffffff;
    --colorSecondary: #ffffff;
    --colourTertiary: #ffffff;

    --title: 28px;
    --heading: 24px;
    --subHeading: 20px;
    --body: 16px;

    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    width: max(40vw);
    height: min(70vh);
    /* border: 3px solid #071B32; */
    border-radius: 5%;
    margin: 0 2rem;
    background: linear-gradient(#5a6579, #071B32)
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding: 3rem;
}

.city {
    font-size: 30px;
    font-weight: var(--medium);
}

.temperature {
    font-size: 5eem;
    font-weight: var(--light);
}

.forecast {
    font-size: 20px;
    font-weight: var(--medium);
}